<div id="menu" class="menu">
    <div class="container">
    <div class="author-content">
        <h4>Unsolved Search</h4>
        <span>Missing</span>
    </div>
    
    <div class="copyright-text">
        <p>Copyright 2020 Vanessa Lee<br></p>
    </div>
    </div>
</div>