/* This file is for your main application css. */


.input.input { 
    height: 3rem !important;
    margin-bottom: 5px !important;
}

.text.input { 
    width: 70%;
}

.ac_form {
    margin-bottom: 5px !important;
}

#missing table {
    width: 100%;    
    background-color: #f1f1c1;
}

#missing table, td, th {
    text-align: left;
    font-size: small;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    vertical-align: top;
}

.filter-label {
    font_size: small;
    font-weight: normal !important;
}

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";